 
 * {
   margin: 0px;
   padding: 0px;
   font-family: Verdana, sans-serif, Helvetica;
   box-sizing: border-box;
 }
 body{   
  background-color: #FFDEE9;
  background-image: linear-gradient(90deg, #FFDEE9 0%, #B5FFFC 100%);
  margin: 0px;
  padding: 0px;
  position: relative;
}
.main{
  display: grid;
  grid-template-rows: 80px 1fr 1fr 80px;
  grid-template-columns: repeat(3, 1fr);
  
}
.nav{
  background-color: rgb(0, 130, 20);
  grid-column: 1 / span 3;
  display: flex;
  position: relative;
}
.nav_ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_ul a{
  color:#f5f5dc;
  text-decoration: none;
  margin-right: 1rem;
}
.nav_ul li{
  list-style-type: none;
  margin: 20px;
  font-weight: 600;
  font-size: 15px;
  overflow:hidden;
}
.nav_ul li a:hover{
  color: black;
  transition: all 0.2s;
}
.hiddenCheck, #hiddenCheck{
  display: none;
}
.logo{
  width: 80px;
  height: 80px;
  border-radius: 5px;
}
.hr-break{
  height: 5px;
  background-color: red;
  width: 100%;
}
.slider{
  margin: auto auto; 
  grid-column: 1 / span 3;
  padding: 5px;
  max-width: 800px;
  width: 100%;
}
.slider h3{
  margin: 15px auto;
}
.slider > ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.slider > ul.slider_ul{
  position: relative;
  max-width: 800px;
  width: 100%;
  min-height: 300px;
}
.slider > ul.slider_ul h2{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  left: 80%;
  top: 30px;
  transform: translate(-50%, -50%);
}
.slider > ul.slider_ul li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity .5s;
  background:#fff;
}
.slider > ul.slider_ul li:first-child {
  opacity: 1; /*Mostramos el primer <li>*/
}
.slider > ul.slider_ul li:target {
  opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}
.slider > .menu{
  text-align: center;
  margin: 20px;
}
.slider > .menu li{
  display: inline-block;
  text-align: center;
}
 .slider > .menu li a{
  display: inline-block;
  color: black;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 100%; 
} 
#slide1 > div{
  background-image: url(../src/img/slide1.jpg);
  background-size: cover;
  width: 100%;
  height: 300px;
}
#slide2 > div{
  background-image: url(../src/img/slide2.jpg);
  background-size: cover;
  width: 100%;
  height: 300px;
}
#slide3 > div{
  background-image: url(../src/img/slide3.jpg);
  background-size: cover;
  width: 100%;
  height: 300px;
}
.article{
  grid-row: 3 / 4;
  grid-column: 1 / span 2;
  min-height: 100px;
  margin: 5px;
  background-color: #FFDEE9;
  background-image: linear-gradient(270deg, #FFDEE9 0%, #B5FFFC 100%);
}
.news{
  margin: 30px 10px;
}
.news img{
  width: 100px;
  height: 100px;
  margin: 15px;
  float: left;
}
.news p{
  margin-top: 15px;
}
.c_panel{
  grid-row: 2 / 4;
  grid-column: 1 / span 3;
}
.aside{
  margin: 5px;
  grid-row: 3 / 4;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}
.oferta_aside{
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center center;
}
.oferta_aside img{
  width: 300px;
  height: 200px;
}
.footer{
  background-color: rgb(0, 130, 20);
  grid-row: 6/7;
  grid-column: 1/span 3;
  font-size: 10px;
  margin: auto 0 auto 0;
  padding: 10px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.formNews{
  width: 100%;
  padding: 20px;
  margin: auto; 
  grid-column: 1 / span 3;
}
.formNews h4{
  font-size: 22px;
  margin-bottom: 20px;
}
.newsInput{
  background: #f5f5dc;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid  rgb(0, 130, 20); 
  font-size: 12px;
  margin: 10px;
  display: inline-block;
}
.formNews .newsSubmit {
  background: rgb(0, 130, 20);
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  margin: 10px;
}
.Textarea{
  display: block;
  width: 500px;
  height: 200px;
}
#sliderTittle{
  display: block;
  width: 40%;
}
@media screen and (max-width:700px){
  body{
    background-image:none;
    background-color: #aaffaa;
    min-width: none;
    max-width: none;
  }
  .main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
  }
  .nav{
    flex-basis: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hiddenCheck{
    display: flex;
    flex-direction: column;
    position: fixed; 
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  .hiddenCheck span{
    background-color: #f5f5dc;
    margin: 5px;
    width: 40px;
    height: 7px;
    border-radius: 5px;
  }
  .nav_ul{
    display: block;
    position: fixed;
    top: 80px;
    left: -100%;
    background-color: rgb(40, 200, 40);
    width: 100%;
    height: 100vh;
    right: 0;
    text-align: center;
    margin: 0;
  }
  .nav_ul li{
    padding: 2rem;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .article{
    display: inline-block;
    flex-basis: 60px;
    flex-grow: 2;
    flex-shrink: 0;
  }
  .aside{
    display: inline-block;
    flex-basis: 60px;
    flex-grow: 2;
    flex-shrink: 0;
  }
  .footer{
    flex-basis: 60px;
    flex-shrink: 1; 
    display: none;
  }
  #hiddenCheck:checked ~ ul {  /*esto selecciona a todos los elementos del contenedor padre (alt126)*/
    left: 0;
    transition: all 0.2s;
  }
}
 
